<div class="ui fluid raised card chatbox">
  <div class="content">
    <div class="ui inverted vertical menu">
      <%= link_to "Home", home_path, class: "item" %>
      <%= link_to "Messages", root_path, class: "active item" %>
      <%= link_to "Friends", users_path, class: "item" %>
    </div>
  </div>
</div>
