<h4 class="ui center aligned medium icon header">
  <i class="circular brown hand peace icon"></i>
  Hi there!
</h4>

<div class="ui two column grid">
  <div class="twelve wide column centered">
    <div class="ui fluid raised card chatbox">
      <div class="center aligned row">
        <h3>Chatroom rules:</h3>
        <div class="ui segment">
          <ul class="ui list">
            <li>Be respectful</li>
            <li>Have fun</li>
            <li>Connect</li>
          </ul>
        </div>
        <h3>Chatroom features:</h3>
        <div class="ui segment">
          <ul class="ui list">
            <li>Front-end uses Semantic UI</li>
            <li>Use of ActionCable to implement real-time features in Rails apps</li>
            <li>Authentication - login & logout</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <%= render "side_nav" %>
  </div>
</div>
